#images {
  width: 500px;
  border: thin solid black;
}

#images img {
  width: 100px;
}

body{
  background-color: black;
}

  #links {
    color: white;
}

  #languages {
    color: white;
  }

  #externallink {
    color: white;
    font-size: 20px;
}

h1 {
  color: white;
  font-size: 50px;
  text-align: center;
}

  h2 {
    color: white;
    text-shadow: 1px 1px black;
    text-decoration: underline;
}

  hr {
    width: 50%;
    text-align: left;
    margin-left: 0;
  }

  a {
    color: white;
  }
