body{
	background-color: #6D0A0A;
	width: 1380px;
	border: double;
	border-color: white;
	}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	}

.header{
	font-size: 30px;
	color: white;
	}

.twocolumn{
	position: relative;
	width: 1000px;
	height: 580px;
	margin: 10px;
	padding: 10px;
	}

.left{
	color: white;
	width: 49%;
	height: auto;
	float: left;
	font-size: 20px;
	margin-left: 10px;
	padding: 5px 0px 5px 0px;
	}

.right{
	color: white;
	width: 40%;
	height: auto;
	float: left;
	font-size: 20px;
	margin-left: 10px;
	padding: 5px 0px 5px 0px;
	}

.rectangle{
	background-color: white;
	border-style: solid;
	border-color: black;
	width: 90%;
	height: 6px;
	margin-top: 10px;
	margin-bottom: 10px;
	}

.threecolumn{
	position: relative;
	width: 1000px;
	height: 385px;
	margin: 10px;
	padding: 10px;
	}

.leftthree{
	width: 320px;
	height: 370px;
	float: left;
	margin-left: 10px;
	padding: 5px 0px 5px 0px;
	}

.middle{
	color: white;
	font-size: 20px;
	width: 320px;
	height: 370px;
	float: left;
	margin-left: 10px;
	padding: 5px 0px 5px 0px;
	}

.rightthree{
	width: 320px;
	height: 370px;
	float: left;
	margin-left: 10px;
	padding: 5px 0px 5px 0px;
	}
