/* Element selector that gives every p element a monospace font. */
h1 {
  text-align: center;
  color: #FF8400;
  font-size: 40px;
}
h2{
  color: #FF8400;
  outline-style: solid;
  text-align: center;
}
p{
  font-size: 18px;
  text-align: center;
  color: #FF8400;
}
li{
  text-align: center;
  color: #FF8400;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border: solid #FF8400;
}



/* Class selector that gives elements with this class a big bold style. */
.second{
  font-size: 50px;
  color: #FF8400;
}
#third{
}

/* ID selector that gives the element with this ID a red style. */
#avengers {
  font-size: 28px;
  color: #FF8400;
}
